.markdown {
  color: #314659;
  font-size: 14px;
  line-height: 2;
}
.markdown img {
  max-width: calc(100% - 32px);
}
.markdown p > img {
  margin: 34px 0;
  -webkit-box-shadow: 0 8px 20px rgba(143, 168, 191, 0.35);
          box-shadow: 0 8px 20px rgba(143, 168, 191, 0.35);
}
.markdown p > img.markdown-inline-image {
  margin: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.markdown h1 {
  margin-top: 8px;
  margin-bottom: 20px;
  color: #0d1a26;
  font-weight: 500;
  font-size: 30px;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  line-height: 38px;
}
.markdown h1 .subtitle {
  margin-left: 12px;
}
.markdown h2 {
  font-size: 24px;
  line-height: 32px;
}
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  clear: both;
  margin: 1.6em 0 0.6em;
  color: #0d1a26;
  font-weight: 500;
  font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Helvetica Neue', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
.markdown h3 {
  font-size: 18px;
}
.markdown h4 {
  font-size: 16px;
}
.markdown h5 {
  font-size: 14px;
}
.markdown h6 {
  font-size: 12px;
}
.markdown hr {
  clear: both;
  height: 1px;
  margin: 56px 0;
  background: #ebedf0;
  border: 0;
}
.markdown p,
.markdown pre {
  margin: 1em 0;
}
.markdown ul > li {
  margin-left: 20px;
  padding-left: 4px;
  list-style-type: circle;
}
.markdown ul > li:empty {
  display: none;
}
.markdown ol > li {
  margin-left: 20px;
  padding-left: 4px;
  list-style-type: decimal;
}
.markdown ul > li > p,
.markdown ol > li > p {
  margin: 0.2em 0;
}
.markdown code {
  margin: 0 1px;
  padding: 0.2em 0.4em;
  font-size: 0.9em;
  background: #f2f4f5;
  border: 1px solid #eee;
  border-radius: 3px;
}
.markdown pre {
  font-family: 'Lucida Console', Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  background: #f2f4f5;
  border-radius: 2px;
  padding: 10px;
}
.markdown pre code {
  margin: 0;
  padding: 0;
  overflow: auto;
  color: #314659;
  font-size: 13px;
  background: #f2f4f5;
  border: none;
}
.markdown strong,
.markdown b {
  font-weight: 500;
}
.markdown > table {
  width: 100%;
  margin: 8px 0 16px;
  empty-cells: show;
  border: 1px solid #ebedf0;
  border-collapse: collapse;
  border-spacing: 0;
}
.markdown > table th {
  color: #5c6b77;
  font-weight: 500;
  white-space: nowrap;
  background: rgba(0, 0, 0, 0.02);
}
.markdown > table th,
.markdown > table td {
  padding: 16px 24px;
  text-align: left;
  border: 1px solid #ebedf0;
}
.markdown blockquote {
  margin: 1em 0;
  padding-left: 0.8em;
  color: #697b8c;
  font-size: 90%;
  border-left: 4px solid #ebedf0;
}
.markdown blockquote p {
  margin: 0;
}
.markdown .anchor {
  margin-left: 8px;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.markdown h1:hover .anchor,
.markdown h2:hover .anchor,
.markdown h3:hover .anchor,
.markdown h4:hover .anchor,
.markdown h5:hover .anchor,
.markdown h6:hover .anchor {
  display: inline-block;
  opacity: 1;
}
.markdown > br,
.markdown > p > br {
  clear: both;
}