
.footer {
  position: relative;
  padding: 40px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer::before {
  position: absolute;
  content: ' ';
  background-color: #e8e8e8;
  height: 1px;
  top: 0;
  left: 40px;
  right: 40px;
  transform: scaleY(0.5);
}